@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
    background-color:black;

}
img{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    border-radius: 50%;
}
img:hover{
    border: 5px solid black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    color: white;
    text-align: center;
}
.image-container{
    margin-top: 30px;
}
.score-board{
    display: flex;
    
}
h1{
    margin-left: 30px;
}
